{% extends_admingenerated "TCIndexBundle:CategoryList:index.html.twig" %}

{% block list_td_column_title %}{{ Category.getTitle(true) }}{% endblock %}

{% block list_object_actions %}
<td class="actions">
    <a class="edit" href="{{ path("TC_IndexBundle_Category_edit", { 'pk': Category.id }) }}" > </a>
    <a class="delete" href="{{ path("TC_IndexBundle_Category_delete", { 'pk': Category.id }) }}" onclick='return confirm("Ceci supprimera tous les enfants, le cas échéant.")'> </a>
    <a style="text-decoration: none; color: black;" class="up" href="{{ path("tc_index_category_list_up", { 'pk': Category.id }) }}" >&uarr;</a>
    <a style="text-decoration: none; color: black;" class="down" href="{{ path("tc_index_category_list_up", { 'pk': Category.id }) }}" >&darr;</a>
</td>
{% endblock %}