{% for Category in Categories %}
    {% if Category.depth is sameas(depth) %}
        <tr class="list_trow">
            {% block list_row %}
                <td>
                    {% block list_td_column_title %}<a style="text-decoration: none; color: black;" href="{{ path("TC_IndexBundle_Category_edit", { 'pk': Category.id }) }}" >{{ Category.getTitle(true) }}</a>{% endblock %}
                </td>
            {% endblock %}
            
            {% block list_object_actions %}
                <td class="actions">
                    <a class="edit" href="{{ path("TC_IndexBundle_Category_edit", { 'pk': Category.id }) }}" > </a>
                    <a class="delete" href="{{ path("TC_IndexBundle_Category_delete", { 'pk': Category.id }) }}" > </a>
                    <a style="text-decoration: none" href="{{ path("category_mover_up", { 'id': Category.id }) }}" >&uarr;</a>
                    <a style="text-decoration: none" href="{{ path("category_mover_down", { 'id': Category.id }) }}" >&darr;</a>
                </td>
            {% endblock %}
        </tr>
        
        {% include "TCIndexBundle:CategoryList:line.html.twig" with {'Categories': Category.children, 'depth': depth + 1} %}
    {% endif %}
{% endfor %}